{% extends 'travels/base.html' %}

{% load staticfiles %}

{% block head %}
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css'%}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'css/detail.css'%}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'css/base.css'%}"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}


{% block content %}

<div class = "row">
    <div class = "col s12 center">
    
        <h2>
            {{travel.title}}
        </h2>
    </div>
    
    
    <div class = "col s12 center">
        <img class="materialboxed" width="100%"  src="{{travel.image.url}}">
    </div>
    
    
    <div class = "col s12 center">
        <p>
            {{travel.description}}
        </p>
    </div>
    
    
    <div class = "col s12 center">
        {% for location in locations %}
            <h3>
                {{ location.day }}
            </h3>
            <div class="divider"></div>
            <h5>
                {{location.title}}    
            </h5>
            <p>
                {{location.description}}
            </p>
            {% endfor %}
    </div>
    
    {% if images|length >= 1 %}
    <div class = "col s12 offset-m2 m8 offset-l3 l6 center">
    <div class="slider center">  
      <ul class="slides">
         {% for imag in images %}
         {% for image in imag %}
        <li>  
          <img src="{{image.images.url}}">  
          <!-- random image -->  
          <div class="caption center-align">  
            <h3>Post 1</h3>  
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>  
          </div>  
          </li>
          {% empty %}
              no pic at here
          {% endfor %}
          {% endfor %}
    </ul>  
    </div>  
    <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>         
    <script type="text/javascript" src="{% static 'js/materialize.js'%}"></script>
    <script> $(document).ready(function() {  
      $(".slider").slider({ 
          height:300,
        indicators: true });  
    });  
    </script>


    {% endif %}
    </div>

    
</div>



{% endblock %}